_site/
.sass-cache/
.jekyll-metadata
.jekyll-cache
# Gemfile.lock
*.gem
*.xpr
tmp/

# =========================
# macOS
# =========================
.DS_Store
.AppleDouble
.LSOverride

# generate files
/css/
/fonts/
/images/
/js/

