_site/
.sass-cache/
.jekyll-metadata
.jekyll-cache
Gemfile.lock
*.gem
*.xpr

# =========================
# macOS
# =========================
.DS_Store
.AppleDouble
.LSOverride

# generate files
/css/
/fonts/
/images/
/js/

/*.html
